/app/*
!/app/Providers
/app/Providers/*
!/app/Providers/ModulesServiceProvider.php
/bootstrap
/config
/database
/modules/*
!/modules/Home
/node_modules
/public
/resources
/routes
/storage
/tests
/vendor
/.idea
/.vagrant
/.env
/.env.example
/artisan
/composer.*
/package.json
/phpunit.xml
/server.php
/webpack.mix.js
/yarn.lock